body {
    height: 100%;
}

.layout-header {
    margin-bottom: 40px;
}

.layout-footer {
    margin-top: 40px;
    height: 50px;
    background-color: black;
    color: white;
}

.brand {
    color: white;
    text-decoration: none;
    font-size: larger;
}

.instructions {
    font-size: large;
    height: 100px;
}

#content {
    overflow: hidden;
}

.calendar {
    height: 100vh;
    width: 100%;
    display: block;
    border: 0;
}

.event-modal footer {
    text-align: right;
}

.event-modal.event-modal-hide {
    display: none;
}

.event-modal .c-choice {
    display: inline;
    margin-right: 10px;
}

.mail-link {
    color: white;
}

.busy {
    opacity: 0.5;
    cursor: not-allowed;
}